// Header styles

// Mixins imports
@import "../../mixins/flexbox/flexbox";
@import "../../mixins/respond-to/respond-to";

// Variables imports
@import "../../variables/sizes/sizes";
@import "../../variables/themes/dark/theme-dark";
@import "../../variables/themes/light/theme-light";


// Main, header
.main {
  @include flexbox(flex, column, center, center);

  width: 100%;
  padding: 50px 75px 68px 40px;

  &__header {
    @include flexbox(flex, row, center, space-between);

    width: 100%;

    &__title {
      @include flexbox(flex, row, end, end);

      &-text {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
      }

      &__status {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #43E8FF;
        margin-left: 17px;
      }
    }

    &__options {
      @include flexbox(flex, row, center, center);

      & .input-filter {
        margin-right: 25px;
        margin-left: 25px;
        width: 465px;
        height: 36px;

        ::-webkit-input-placeholder {
          color: #C4C4C4;
          font-style: normal;
          font-weight: 300;
          font-size: 14px;
          line-height: 19px;
        }

        .main__header__options__wrapper-input {
          width: 100%;
          height: 100%;
          background: #3E4459;
          border-radius: 5px 0 0 5px;
          border: none;
          padding-left: 16px;
        }

        & label {
          @include flexbox(flex, row, center, center);
          background: #3E4459;
          border-radius: 0 5px 5px 0;
          height: 100%;
          width: 30px;

          & img {
            width: 14px;
          }
        }
      }

      & .button {
        @include flexbox(flex, row, center, center);

        padding: 7px 30px;
        margin-right: 23px;
        background-color: #fff;
        border-radius: 6px;

        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #23273A;
      }

      &__wrapper {
        @include flexbox(flex, row, center, center);

        &:last-of-type {
          margin-left: 30px;
        }

        text-decoration: none;
      }
    }
  }
}

// Adaptation
@include respond-to('Laptop L') {
  .main {
    justify-content: start;
    align-items: start;
    padding: 20px 20px 20px 20px;

    &__header {
      width: 100%;
    }

    &__content {
      @include flexbox(flex, column, start, start);

      & .reports{
        width: 370px !important;
        height: 400px;

        img {
          display: none;
        }
      }
    }
  }
}

@include respond-to('Laptop') {
  .main {

    &__header {
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;
    }
  }
}

@include respond-to('Tablet') {
  .main {

    &__header {
      width: 100%;
      flex-wrap: wrap;
    }

    &__content {

    }
  }
}




