// Header styles

// Mixins imports
@import "../../mixins/flexbox/flexbox";
@import "../../mixins/respond-to/respond-to";

// Variables imports
@import "../../variables/sizes/sizes";
@import "../../variables/themes/dark/theme-dark";
@import "../../variables/themes/light/theme-light";


// Main, header
.main {
  @include flexbox(flex, column, center, center);

  width: 100%;
  padding: 50px 75px 68px 40px;

  &__header {
    @include flexbox(flex, row, center, space-between);

    width: 100%;

    &__title {

      &-text {
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
      }
    }

    &__options {
      @include flexbox(flex, row, center, center);

      &__wrapper {
        @include flexbox(flex, row, center, center);

        &:last-of-type {
          margin-left: 30px;
        }

        text-decoration: none;
      }
    }
  }
}

@include respond-to('Laptop') {
  .main {

    &__header {
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      & div {
        margin: 5% 5%;
      }
    }
  }
}



